// // colors
// $mainColor: #09555c;
// $secondColor: #fff;
$greenColor: #a2e621;
// $footerColor: #212121;
// $textColor: #c4c6c6;

// sizes 
$sm : 320px;
$md : 767px;
$mdl: 1023px;
$lg : 1279px;
$hd : 1439px;


