// sizes
$sm: 320px;
$md: 768px;
$mdl: 1024px;
$lg: 1280px;
$hd: 1440px;
$hg: 1920px;

// title-size {
.title {
  // font-family: "", sans-serif;

  // &--sm {
  //   font-size: 20px;
  // }
  // &--md {
  //   font-size: 32px;
  // }
  // &--lg {
  //   font-size: 40px;
  // }

  @media (min-width: $md) {
    // &--sm {
    //   font-size: 32px;
    // }
    // &--md {
    //   font-size: 40px;
    // }
    // &--lg {
    //   font-size: 48px;
    // }
  }

  @media (min-width: $lg) {
    // &--sm {
    //   font-size: 40px;
    // }
    // &--md {
    //   font-size: 48px;
    // }
    // &--lg {
    //   font-size: 54px;
    // }
  // }
}

// text-sizes
.text-size {
  // &--sm {
  //   font-size: 16px;
  // }
  // &--md {
  //   font-size: 20px;
  // }
  // &--lg {
  //   font-size: 24px;
  // }

  @media (min-width: $md) {
    // &--sm {
    //   font-size: 20px;
    // }
    // &--md {
    //   font-size: 24px;
    // }
    // &--lg {
    //   font-size: 32px;
    // }
  }

  @media (min-width: $lg) {
  //   &--sm {
  //     font-size: 24px;
  //   }
  //   &--md {
  //     font-size: 32px;
  //   }
  //   &--lg {
  //     font-size: 40px;
  //   }
  // }
}
